body {
	margin: 0;
}

header {
	width: 100%;
}

input {
	display: block;
	color: gray;
	height: 25px;
	width: 300px;
	margin: 15px auto 10px auto;
	border: 1px silver;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(100, 100, 100, 1);
}

form {
	margin: 200px auto auto auto;
	padding-top: 40px;
}

.login_form {
	width: 400px;
	height: 200px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(105, 188, 22, 1);
}

.btn {
	height: 22px;
}

input:valid {
	box-shadow: 0 0 1px rgba(74, 187, 78, 1);
}

input:invalid {
	box-shadow: 0 0 1px rgba(254, 87, 7, 1);
}